{% extends 'base.html' %}
{% block head %}
<title>New Post</title>
{% endblock %}
{% block body %}
        <hr>
        <h2 align="center" style="font-family: cursive;">New Post</h2>
        <form action='/posts' method='POST'>
            <label for='title'>Title</label>
            <input class='form-control' type='text' name='title'
             id='title' placeholder='your title'>
             <br>
             <label for='post'>Content</label>
             <textarea class='form-control' id='post' name='post' 
              placeholder='Your Content' rows='3'></textarea>
             <br>
             <input type="checkbox" id="anonymous" name="anonymous" value=1>
             <label for="anonymous">Anonymous Post</label>
             <div align="center"><button type="submit" class="btn btn-secondary"
                >Post</button></div>
        </form>
        <br><br>
        <hr>
{% endblock %}