{% extends 'base.html' %}
{% block head %}
<title>Yen Blog</title>
<script src="https://kit.fontawesome.com/73151e71f5.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
        <br>        
        <div>
            <a style='display: inline' class='btn btn-success float-right'
             href='/posts/new'>New Post</a>
            <h1 class="text-muted" style='display: inline; font-family: monospace; font-size: 20px;
            '>YOUR TOPICS</h1>      
        </div>
        <br>
        <hr>

        {% for post in posts %}

        <div class="container" style="border-radius: 25px; 
        background-color: rgb(250, 235, 240);">
            {% if post.posted_by %}
            <small class='text-muted'>{{post.posted_by}} on {{post.posted_on.date()}} {{post.posted_on.time().hour}}:{{post.posted_on.time().minute}}</small>
            {% else %}
            <small class='text-muted'>Anonymous on {{post.posted_on.date()}} {{post.posted_on.time().hour}}:{{post.posted_on.time().minute}}</small>
            {% endif %}
            <h2 style="font-family: cursive;">{{post.title}}</h2>
            <p style='white-space: pre-wrap'>{{post.content[:100]}}
                {% if post.content[100] %}....more{% endif %}</p>
          {% if post.id in post.likes|map(attribute='user_id')|list %}
              {% set cname = "fa-solid fa-champagne-glasses" %}
              {% else %}
              {% set cname = "fa-solid fa-wine-glass" %}
              {% endif %}
          
          <div class="d-flex justify-content-between">
            {% if post.author_id == user.id %}
              <a href="/posts/edit/{{post.id}}">edit</a>
            {% endif %}
            <a href="/read_post/{{post.id}}">open post</a>
            <div><i id='like_button-{{post.id}}' class='{{cname}} fa-lg' style="color:red;"
              onclick="like('{{post.id|int}}')">
            </i><span id="like_count-{{post.id}}">{{post.likes|length}}</span></div>
          </div>
                
          <hr>
          </div>
        {% endfor %}
        <br><br><br>

        <script type="text/javascript">

          function like(postId){
            const likecount = document.getElementById('like_count-'+postId);
            const likebutton = document.getElementById('like_button-'+postId);
            fetch("/like/"+postId,{method:'POST'})
            .then((res)=>res.json())
            .then((data)=>{
              likecount.innerHTML=data['likes'];
              if(data['liked'] === true){
                likebutton.className = "fa-solid fa-champagne-glasses fa-lg";
              }
              else{
                likebutton.className = "fa-solid fa-wine-glass fa-lg";
              }
            });
            
          }
        
        </script>
{% endblock %}

